# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*.backup
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Generic
.DS_Store
*.pem
*.key
*.log
*~
*.swp
